Some("RepoViewRepositoryPullRequestsNodes"{
   "id":"MDExOlB1bGxSZXF1ZXN0NTMxMDMzNDg2",
   "title":"Feature/improve predictions",
   "url":"https://github.com/clash-co/clash/pull/1059",
   "reviews":"Some(RepoViewRepositoryPullRequestsNodesReviews"{
      "total_count":0,
      "nodes":"Some("[
         
      ]")"
   }")",
   "review_requests":"Some(RepoViewRepositoryPullRequestsNodesReviewRequests"{
      "total_count":2,
      "nodes":"Some("[
         "Some(RepoViewRepositoryPullRequestsNodesReviewRequestsNodes"{
            "requested_reviewer":"Some(User(RepoViewRepositoryPullRequestsNodesReviewRequestsNodesRequestedReviewerOnUser"{
               "login":"jpmonettas"
            }"))"
         }")",
         "Some(RepoViewRepositoryPullRequestsNodesReviewRequestsNodes"{
            "requested_reviewer":"Some(User(RepoViewRepositoryPullRequestsNodesReviewRequestsNodesRequestedReviewerOnUser"{
               "login":"yenda"
            }"))"
         }")"
      ]")"
   }")"
})
